<% if @feed_items.any? %>
  <ol class="microposts" ng-controller="FeedCtrl" ng-init="feed_items = <%= ActiveModel::ArraySerializer.new(@feed_items).to_json %>">
    <li ng-repeat="feed_item in feed_items" id="{{ feed_item.id }}">
      <a href="/users/{{feed_item.user.id}}">
        <img class="gravatar" alt="{{ feed_item.user.name }}" src="{{ feed_item.user.gravatar_url }}" />
      </a>
      <span class="user">
        <a href="/users/{{feed_item.user.id}}">{{ feed_item.user.name }}</a>
      </span>
      <span class="content">{{ feed_item.content }}</span>
      <span class="timestamp">
        Posted {{ feed_item.created_at | timeAgo }}.
      </span>
      <a ng-show="false"> TODO
        if current_user?(feed_item.user)
         link_to "delete", feed_item, method: :delete,
                                         data: { confirm: "You sure?" },
                                         title: feed_item.content
       end
      </a>
    </li>
  </ol>
  <%= will_paginate @feed_items %>
<% end %>