<% if @feed_items.any? %>
  <ol class="microposts" ng-controller="FeedCtrl" ng-init="feed_items = <%= ActiveModel::ArraySerializer.new(@feed_items, scope: current_user).to_json %>">
    <li ng-repeat="feed_item in feed_items" id="{{ feed_item.id }}">
      <a href="/users/{{feed_item.user.id}}">
        <img class="gravatar" alt="{{ feed_item.user.name }}" src="{{ feed_item.user.gravatar_url }}" />
      </a>
      <span class="user">
        <a href="/users/{{feed_item.user.id}}">{{ feed_item.user.name }}</a>
      </span>
      <span class="content">{{ feed_item.content }}</span>
      <span class="timestamp">
        Posted {{ feed_item.created_at | timeAgo }}.
      </span>
      <a ng-show="{{feed_item.deletable}}" href="/microposts/{{feed_item.id}}" data-confirm= "You sure?" data-method="delete" title="{{feed_item.content}}">
        delete
      </a>
    </li>
  </ol>
  <%= will_paginate @feed_items %>
<% end %>