<form>
  <div class="field">
    <textarea placeholder="Compose new micropost..." ng-model="new_feed_item.content"></textarea>
  </div>
  <input type="submit" value="Post" class="btn btn-large btn-primary" ng-click="createFeedItem(new_feed_item)" />
</form>